
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 300 700;
  font-display: swap;
  src: url('../fonts/fira-code.woff2') format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/*
.fira-code-light {
  font-family: "Fira Code Light";
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  src: url('../fonts/fira-code.woff2') format('woff');
}

.fira-code-regular {
  font-family: "Fira Code ";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/fira-code.woff2') format('woff');
}
.fira-code-medium {
  font-family: "Fira Code";
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  src: url('../fonts/fira-code.woff2') format('woff');
}

.fira-code-semi {
  font-family: "Fira Code";
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  src: url('../fonts/fira-code.woff2') format('woff');
}

.fira-code-bold {
  font-family: "Fira Code";
  font-optical-sizing: auto;
  font-weight: uniquifier;
  font-style: 700;
  src: url('../fonts/fira-code.woff2') format('woff');
}*/