<!DOCTYPE html>
{% load static %}
<html lang="es">

    <head>
        <meta name="theme-color" content="#fa5000">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ ASSETS_ROOT }}/img/cx.svg">
        <title>SUMI - Error 404</title>
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
        <link id="pagestyle" href="{{ ASSETS_ROOT }}/css/material-dashboard.css" rel="stylesheet" />
    </head>

    <body style="user-select: none;" class="bg-primary">
        <div class="d-flex align-items-center justify-content-center vh-100">
            <div class="text-center">
                <h1 class="text-white fw-bold" style="font-size: calc(5rem + 4.5vw);">404</h1>
                <p class="fs-3 text-white"><span class="font-weight-bold"> ¡Error!</span> página no encontrada</p>
                <p class="lead text-white">
                    Parece que la página a la que intentas acceder no existe
                  </p>
                <a href="/" class="btn btn-dark">volver al inicio</a>
            </div>
            
        </div>
    </body>

</html><!--style="background-color:white !important; color: grey !important;"-->