/---USUARIOS POR DEFECTO.txt

# Python
__pycache__/
**/__pycache__/
*.py[cod]
*.pyo
*.pyc
*.pyd
*.pdb

# Django migrations cache
**/migrations/__pycache__/
**/migrations/*.pyc

# SQLite database
*.sqlite3
*.idea/

# VS Code settings
.vscode/

# Environment
.env
*.env
venv/
ENV/
env/
