/---USUARIOS POR DEFECTO.txt

# Python
# Byte-compiled / optimized / DLL files
__pycache__/
**/__pycache__/
*.py[cod]
*.cpython-*.pyc
*.pdb

# Django migrations cache
# This is covered by the Python rules above, but can be kept for clarity
**/migrations/__pycache__/

# Database
*.sqlite3

# IDE / Editor specific
.idea/
.vscode/

# Environment variables
.env
*.env

# Virtual environments
venv/
ENV/
env/