{% load home_tags %}
{% if obj_list %}
<i class="hidden" id="tab" value="{{ tab }}"></i>
<table class="table table-hover align-items-center mb-0">
  <thead>
    <tr>
      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-center">N° OP</th>
      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-center px-2">N° Pedido</th>
      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 px-2">Producto</th>
      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 px-2">Cliente</th>
      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-center">Fecha</th>
      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-center">estado</th>
      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-center">Solicitado</th>
      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-center">Despachado</th>
      {% if perms.sales.change_order %}
      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-center" style="user-select: none">Editar</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for order in obj_list %}
    <tr>
      <td class="px-3 text-center">
        <a class="fw-bold" href="{% url 'order_details' order.id %}">
          OP-{{ order.number }}
        </a>
      </td>
      <td class="px-3 text-center text-dark fw-bold">
        {{ order.sale_order.request_number }}
      </td>
      <td>
        <h6 class="mb-0 text-sm">{{ order.sale_order.plan.product }}</h6>
      </td>
      <td class="fw-bold">
        <h6 class="mb-0 fw-bold text-sm">{{ order.sale_order.plan.client.name }}</h6>
      </td>
      <td class="text-center text-sm fw-bold text-uppercase">
        {{ order.date|date:"d/b/Y" }}
      </td>
      <td class="text-center">
        {% include 'includes/status-icon.html' with stat=order.status %}
      </td>
      <td class="text-center fw-bold text-sm text-dark">
        {{ order.sale_order.quantity }}Kg
      </td>
      <td class="text-center fw-bold">
        <h6 class="mb-0 fw-bold text-sm">
          {% if not order.technicalspecs.dispatched_quantity %}0{% endif %}{{ order.technicalspecs.dispatched_quantity }}Kg
        </h6>
      </td>
      
      
      {% if perms.sales.change_order or perms.sales.delete_order %}
      <td class="text-center" style="user-select: none;">

        {% if perms.sales.change_order %}
        <a class="text-primary font-weight-bold text-xs cursor-pointer" title="Editar OP" data-bs-toggle="modal" data-bs-target="#id-{{ order.id }}-edit">
          <i class="material-icons">drive_file_rename_outline</i>
        </a>
        <div class="modal fade" id="id-{{ order.id }}-edit" tabindex="-1" aria-labelledby="exampleModalLabel"
          aria-hidden="true" style="user-select: none;">
          <div class="modal-dialog">
            <div class="modal-content px-3">
              <form method="POST" action="{% url 'order_edit' order.id %}">
                {% csrf_token %}
                <div class="modal-header px-4 mx-n3" style="background-color: var(--mc-color) !important;">
                  <h5 class="modal-title font-weight-bolder text-white" id="exampleModalLabel">Editar Órden de Producción</h5>
                </div>
                <input type="hidden" name="sale_order" value="{{ order.sale_order.id }}">
                <div class="modal-body text-start px-1">
                  <div class="form-group">
                    <label class="fw-bold mb-0" for="op_number">Número de Órden de Producción</label>
                    <input type="number" name="number" class="hide-spinner px-3 mb-2 form-control myform-focus"
                      style="padding-left: 35px !important;" value="{{ order.number }}" 
                      autocomplete="false" id="op_number" required min="0" maxlength="7" max="9999999">
                    <x class="text-dark infield-text" style="margin-top: -40px !important;">OP-</x>
                    <label class="fw-bold mb-0" for="op_date">Fecha OP</label>
                    <input type="text" name="date" class="px-3 mb-2 form-control myform-focus date-input" autocomplete="false" id="op_date-{{ order.id }}" required
                      placeholder="DD/MM/AAAA" value="{{ order.date|date:'d/m/Y' }}">
                  </div>
                  <p id="error-message" class="fw-bold text-danger"></p>
                  <p id="success-message" class="fw-bold text-success"></p>
                </div>
                <div class="modal-footer text-center justify-content-center gap-2">
                  <button type="button" class="m-0 btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                  <button type="submit" class="m-0 btn btn-success">Confirmar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        {% endif %}

        {% if perms.sales.delete_order %}
        <!-- Button trigger modal -->
        <a class="" data-bs-toggle="modal" data-bs-target="#id-{{ order.id }}-del"
          style="user-select: none; cursor: pointer !important;" title="Eliminar">
          <i class="material-icons">delete</i>
        </a>  
        <!-- Modal -->
        <div class="modal fade" id="id-{{ order.id }}-del" tabindex="-1" aria-labelledby="exampleModalLabel"
          aria-hidden="true" style="user-select: none;">
          <div class="modal-dialog">
            <div class="modal-content px-3">
              <div class="bg-primary modal-header px-4 mx-n3">
                <h4 class="modal-title font-weight-bolder text-white" id="exampleModalLabel">¡Advertencia!</h4>
              </div>
              <form method="POST" action="{% url 'order_delete' order.id %}">
                {% csrf_token %}
                <div class="modal-body text-start px-1">
                  <p class="mb-1 font-weight-bold" style="line-height: 1.25;">
                    ¿Seguro que desea eliminar la OP y todos sus expedientes?</p>
                  <p class="mb-n1 text-xs">Esta acción es irreversible</p>
                </div>
                <div class="modal-footer text-center justify-content-center py-2">
                  <button type="button" class="m-0 mx-1 btn btn-secondary"
                  data-bs-dismiss="modal">Cancelar</button>
                  <button type="submit" class="m-0 mx-1 btn btn-danger">Confirmar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        {% endif %}
      </td>
      {% endif %}

    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p class="align-middle text-center text-xl font-weight-bolder mt-4">No hay resultados.</p>
{% endif %}
