{% load home_tags %}
{% with request_obj=art_request_obj|default:test_request_obj|default:order_obj %}
{% if not "edit" in request.get_full_path %}

  {# --- Printer Boot Actions --- #}
  {% for prt in printer_boot %}
    {% if ('production' in segment and perms.production.change_printerboot) or ('production' not in segment and perms.essays.change_printerboot) %}
      <li class="nav-item mt-3 ms-1 mb-2 doc-edit {% if not prt.id == tab_p %}d-none{% endif %}" id="edit_prt_{{ forloop.counter0 }}">
        <a class="a-deaf" title="Editar Arranque de Impresora" 
        href="{% if 'production' in segment %}{% url 'production_printer_edit' pk=request_obj.id ck=prt.id %}
              {% elif 'art' in segment %}{% url 'edit_printer_boot_art' tr=request_obj.id ck=prt.id %}
              {% else %}{% url 'edit_printer_boot_tr' tr=request_obj.id ck=prt.id %}{% endif %}">
          <i class="material-symbols-rounded detail-action-icon">drive_file_rename_outline</i>
        </a>
      </li>
    {% endif %}
  {% endfor %}

  {# --- Laminator Boot Actions --- #}
  {% for lam in lamination_boot %}
    {% if ('production' in segment and perms.production.change_laminatorboot) or ('production' not in segment and perms.essays.change_laminatorboot) %}
      <li class="nav-item mt-3 ms-1 mb-2 doc-edit {% if not lam.id == tab_l %}d-none{% endif %}" id="edit_lam_{{ forloop.counter0 }}">
        <a class="a-deaf" title="Editar Arranque de Laminadora" 
        href="{% if 'production' in segment %}{% url 'production_laminator_edit' pk=request_obj.id ck=lam.id %}
              {% elif 'art' in segment %}{% url 'edit_laminator_boot_art' tr=request_obj.id ck=lam.id %}
              {% else %}{% url 'edit_laminator_boot_tr' tr=request_obj.id ck=lam.id %}{% endif %}">
          <i class="material-symbols-rounded detail-action-icon">drive_file_rename_outline</i>
        </a>
      </li>
    {% endif %}
  {% endfor %}



  {# --- Delete Modals --- #}


  {# --- Print Button --- #}
  {% if perms.essays.view_order %}
  <li class="{% if tab == 'main' or tab_c or tab_p or tab_l %}d-block{% else %}d-none{% endif %} nav-item mt-3 ms-1 mb-2 doc-edit" id="print-btn">
    <a class="a-deaf" title="Guardar cómo PDF/Imprimir" href="javascript:window.print()">
      <i class="material-symbols-rounded detail-action-icon">picture_as_pdf</i>
    </a>
  </li>
  {% endif %}
{% endif %}
{% endwith %}
