<div class="action-pill">
  {% if entry_element_obj %}
  <p class="pill {% if entry_first %}pill-active{% endif %}" tab="#entry-element">Elemento de Entrada</p>
  <p class="pill-child {% if entry_first %}pill-child-active{% endif %}">

    &thinsp;
    {% if perms.essays.change_entryelement %}
    <a class="d-flex" title="Editar" href=" {% url 'edit_entry_element' entry_element_obj.id %}">
      <i class="pill-child-action fas fa-pen"></i>
    </a>
    &ensp;
    {% endif %}
    
    {% if perms.essays.delete_entryelement %}
    <i class="pill-child-action fas fa-trash" title="Eliminar" data-bs-toggle="modal" data-bs-target="#delete-ee-{{ entry_element_obj.id }}" ></i>
    &ensp;
    {% endif %}

    <a class="d-flex" title="Guardar cómo PDF/Imprimir" href="javascript:window.print()">
      <i class="pill-child-action fas fa-print"></i>
    </a>
    
  </p>
  {% endif %}
  
  {% if test_request_obj %}
    <p class="pill {% if not entry_first and not exit_first %}pill-active{% endif %}" tab="#test-request">Solicitud de Prueba</p>
    <p class="pill-child {% if not entry_first and not exit_first %}pill-child-active{% endif %}">
      &thinsp;
      {% if not test_request_obj.deleted %}
        
          {% if perms.essays.change_testrequest %}
            {% if not test_request_obj.reviewer or perms.essays.sign_testrequest %}
              <a class="d-flex" title="Editar" href="{% url 'edit_test_request' test_request_obj.id %}">
                <i class="pill-child-action fas fa-pen"></i>
              </a>
              &ensp;
            {% endif %}
          {% endif %}
            
        {% if request.user.is_superuser or not test_request_obj.touched %}
          {% if perms.essays.delete_testrequest %}
            {% if not test_request_obj.reviewer or perms.essays.sign_testrequest %}
              <i class="pill-child-action fas fa-trash" title="Eliminar" data-bs-toggle="modal" data-bs-target="#delete-{{ test_request_obj.id }}" ></i>
              &ensp;
            {% endif %}
          {% endif %}
        {% endif %}
        
      {% else %}
        {% if perms.essays.restore_testrequest %}
          <i class="pill-child-action fas fa-undo-alt" title="Eliminar" data-bs-toggle="modal" data-bs-target="#restore-{{ test_request_obj.id }}" ></i>
          &ensp;
        {% endif %}
        {% if perms.essays.delete_true_testrequest %}
          <i class="pill-child-action fas fa-trash" title="Eliminar Permanentemente" data-bs-toggle="modal" data-bs-target="#delete_true-{{ test_request_obj.id }}" ></i>
          &ensp;
        {% endif %}
      {% endif %}
      <a class="d-flex" title="Guardar cómo PDF/Imprimir" href="javascript:window.print()">
        <i class="pill-child-action fas fa-print"></i>
      </a>
    </p>
  {% endif %}
    
  {% if test_request_obj.exit_element %}
    <p class="pill {% if exit_first %}pill-active{% endif %}" tab="#exit-element">Elemento de Salida</p>
    <p class="pill-child {% if exit_first %}pill-child-active{% endif %}">
      &thinsp;
      {% if perms.essays.change_exitelement %}
      <a class="d-flex" title="Editar" href="{% url 'edit_exit_element' test_request_obj.exit_element.id %}">
        <i class="pill-child-action fas fa-pen"></i>
      </a>
      &ensp;
      {% endif %}
      {% if perms.essays.delete_exitelement %}
      <i class="pill-child-action fas fa-trash" title="Eliminar" data-bs-toggle="modal" data-bs-target="#delete-ex-{{ test_request_obj.exit_element.id }}" ></i>
      &ensp;
      {% endif %}
      <a class="d-flex" title="Guardar cómo PDF/Imprimir" href="javascript:window.print()">
        <i class="pill-child-action fas fa-print"></i>
      </a>
    </p>
  {% elif test_request_obj.closed %}
    <p class="pill" href="{% url 'add_exit_element' test_request_obj.id %}" redirect="true" >Crear Elemento de Salida +</p>
  {% endif %}
  
</div>

{% if entry_element_obj %}
  {% if perms.essays.delete_entryelement %}
  <!------------------------------------------------------Delete------------------------------------------------------->
  <div class="modal fade" id="delete-ee-{{ entry_element_obj.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="user-select: none;">
    <div class="modal-dialog">
      <div class="modal-content px-3">
        <div class="bg-primary modal-header px-4 mx-n3">
          <h4 class="modal-title font-weight-bolder text-white" id="exampleModalLabel">¡Advertencia!</h4>
        </div>
        <form method="POST" action="{% url 'delete_entry_element' entry_element_obj.id %}">
          {% csrf_token %}
          <div class="modal-body text-start px-1">
            <p class="mb-1 font-weight-bold" style="line-height: 1.25;">
              ¿Seguro que desea eliminar el elemento de entrada?</p>
            <p class="mb-n1 text-xs">Esta acción es irreversible</p>
          </div>
          <div class="modal-footer text-center justify-content-center py-2">
            <button type="button" class="m-0 mx-1 btn btn-secondary"
            data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="m-0 mx-1 btn btn-danger">Confirmar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% endif %}
{% endif %}

{% if test_request_obj %}
  
  {% if perms.essays.delete_testrequest %}
  <!------------------------------------------------------Delete------------------------------------------------------->
  <div class="modal fade" id="delete-{{ test_request_obj.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="user-select: none;">
    <div class="modal-dialog">
      <div class="modal-content px-3">
        <div class="bg-primary modal-header px-4 mx-n3">
          <h4 class="modal-title font-weight-bolder text-white" id="exampleModalLabel">¡Advertencia!</h4>
        </div>
        <form method="POST" action="{% url 'delete_test_request' test_request_obj.id %}">
          {% csrf_token %}
          <div class="modal-body text-start px-1">
            <p class="mb-1 font-weight-bold" style="line-height: 1.25;">
              ¿Seguro que desea eliminar la solicitud de prueba?</p>
            <p class="mb-n1 text-xs">Esta acción no puede deshacerse</p>
            <p class="mt-1 mb-0 font-weight-bold text-sm text-primary">Razón</p>
            <textarea required name="deleted_reason" class="form-control align-items-center myform-focus py-1 px-2" style="transition: none !important;" id="id_deleted_reason"></textarea>
          </div>
          <div class="modal-footer text-center justify-content-center py-2">
            <button type="button" class="m-0 mx-1 btn btn-secondary"
            data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="m-0 mx-1 btn btn-danger">Confirmar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% endif %}
{% if test_request_obj.exit_element %}
  {% if perms.essays.delete_entryelement %}
  <!------------------------------------------------------Delete------------------------------------------------------->
  <div class="modal fade" id="delete-ex-{{ test_request_obj.exit_element.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="user-select: none;">
    <div class="modal-dialog">
      <div class="modal-content px-3">
        <div class="bg-primary modal-header px-4 mx-n3">
          <h4 class="modal-title font-weight-bolder text-white" id="exampleModalLabel">¡Advertencia!</h4>
        </div>
        <form method="POST" action="{% url 'delete_exit_element' test_request_obj.exit_element.id %}">
          {% csrf_token %}
          <div class="modal-body text-start px-1">
            <p class="mb-1 font-weight-bold" style="line-height: 1.25;">
              ¿Seguro que desea eliminar el elemento de salida?</p>
            <p class="mb-n1 text-xs">Esta acción es irreversible</p>
          </div>
          <div class="modal-footer text-center justify-content-center py-2">
            <button type="button" class="m-0 mx-1 btn btn-secondary"
            data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="m-0 mx-1 btn btn-danger">Confirmar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% endif %}
{% endif %}
  {% if perms.essays.restore_testrequest %}
  <!----------------------------------------------------Restore TR----------------------------------------------------->
  <div class="modal fade" id="restore-{{ test_request_obj.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="user-select: none;">
    <div class="modal-dialog">
      <div class="modal-content px-3">
        <div class="modal-header px-4 mx-n3" style="background-color: var(--mc-color) !important;">
          <h4 class="modal-title font-weight-bolder text-white" id="exampleModalLabel">¡Alerta!</h4>  
        </div>
        <div class="modal-body text-start px-1">
          <p class="mb-1 font-weight-bold" style="line-height: 1.25; font-weight: 500 !important;">
            ¿Seguro que desea <b class="text-success">resturar</b> la Solicitud de prueba <b style="color: var(--mc-color)">{{ test_request_obj.product }}</b>?</p>
        </div>
        <div class="modal-footer text-center justify-content-center py-2">
          <form method="POST" action="{% url 'restore_test_request' test_request_obj.id %}">
            {% csrf_token %}
            <button type="button" class="m-0 btn btn-secondary"
              data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="m-0 btn btn-success">Confirmar</button>
          </form>
        </div>
      </div>
    </div>
  </div> 
  {% endif %}
  {% if perms.essays.delete_true_testrequest %}
  <!----------------------------------------------------Delete FR------------------------------------------------------>
  <div class="modal fade" id="delete_true-{{ test_request_obj.id }}" tabindex="-1" aria-labelledby="TrueDelete" aria-hidden="true" style="user-select: none;">
    <div class="modal-dialog">
      <form method="POST" action="{% url 'delete_true_test_request' test_request_obj.id %}">
        {% csrf_token %}
        <div class="modal-content px-3">
          <div class="modal-header px-4 mx-n3" style="background-color: var(--mc-color) !important;">
            <h4 class="modal-title font-weight-bolder text-white" id="TrueDelete">¡Advertencia!</h4>
          </div>
          <div class="modal-body text-start px-1">
            <p class="mb-1 font-weight-bold" style="line-height: 1.25; font-weight: 500 !important;">
              ¿Seguro que desea eliminar <b class="text-danger">permanentmente</b> la Solicitud de prueba <b style="color: var(--mc-color)">{{ test_request_obj.product }}</b>?</p>
            <p class="mb-0 text-xs">Los datos de estructura y ensayos se perderán, esta acción es totalmente irreversible</p>
          </div>
          <div class="modal-footer text-center justify-content-center py-2">
            <button type="button" class="m-0 mx-1 btn btn-secondary"data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="m-0 mx-1 btn btn-danger">Confirmar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  {% endif %}
{% endif %}
  
<script>
  $(document).ready(function() {
    var pill = $(".pill");
    var pillChild = $(".pill-child");
    var pillChildAction = $(".pill-child-action");
    var tabbedContent = $(".tabbed-content");
    
    $('#boot-export').on('hidden.bs.modal', function () {
      $(this).find('form')[0].reset();
      $(this).find('select').val(null).trigger('change');
    });
    $('#mtDismiss').click(function () {
      // Find the closest modal and hide it
      $(this).closest('.modal').modal('hide');
  });
    $('#destiny_document').select2({
      placeholder: 'Seleccionar...',
      width: '100%',
      selectionCssClass: ':all:',
      dropdownCssClass: ':all:',
      ajax: {
        url: '/test_requests/',
        data: function (params) {
          return{
                touched: 'True', 
                select_2: 'True',
                current_tr: '{{ test_request_obj.id }}',
                search_text: params.term,
            };
        },
        processResults: function (data) {
            return {
                results: data,
            };
        },
      },
      language: {
        noResults: function () {
          return "No hay resultados";
        },
        searching: function () {
          return "Buscando...";
        }
      }
    });
    
    pillChildAction.on("click", function() {
      if ($(this).attr("href")){
        window.location.href = $(this).attr("href");
      }
    });
    
    pill.on("click", function() {
      if ($(this).hasClass("pill-active")) {
        return;
      }
  
      if ($(this).attr("redirect")) {
        window.location.href = $(this).attr("href");
      } else {
        tabbedContent.hide();
        $($(this).attr("tab")).show();
  
        $('main').animate({ scrollTop: 0 }, "fast");
  
        pill.removeClass("pill-active");
        pillChild.removeClass("pill-child-active");
        $(this).addClass("pill-active");
        $(this).next(".pill-child").addClass("pill-child-active");
      }
    });
  });
</script>
