.select2-selection__rendered {
  line-height: 18px !important;
  padding-left: 0 !important;
}

.select2-container .select2-selection--single {
  padding-left: 1em;
  height: 40.19px !important;
}

.select2-container .select2-selection--multiple {
  height: 40.19px !important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  outline: none !important;
  border: 1px solid var(--mc-color) !important;
}

.select2-container--default .select2-search--inline .select2-search__field {
  margin-top: -0.5rem !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  color: white;
  background-color: var(--mc-color) !important;
  border: none !important;
  border-radius: 0.3rem !important;
  box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 5px 8px -5px var(--mc-color) !important;
  min-height: 125%;
  font-weight: 600 !important;
  font-size: 0.8rem !important;
  margin-top: -0.1rem;
  margin-left: -0.3rem;
  margin-right: 0.45rem;
  padding-left: 1.4rem;
  padding-top: 0.1rem;
  padding-right: 0.1rem;
  transition: background-color, box-shadow 0.3s ease-in-out !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: white !important;
  border: none !important;
  border-right: 1px#00000036 solid !important;
  padding-bottom: 0.25rem !important;
  padding-top: 0.13rem !important;
  padding-right: 0.25rem !important;
  padding-left: 0.35rem !important;
  font-size: 1rem !important;
  transition: 0.4s !important;
}

.select2-container--default .select2-results__option--selected {
  color: white !important;
  background-color: var(--bs-body-color);
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover,
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:focus {
  color: white !important;
  background-color: #00000036 !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
  cursor: default;
  padding-left: 0px;
  padding-right: 5px;
}

.select2-selection__arrow {
  height: 37px !important;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border-radius: 0.375rem !important;
}

.select2-container--open .select2-dropdown--below {
  padding-top: 0rem;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0.375rem !important;
  border-bottom-right-radius: 0.375rem !important;
  border: 1px solid #d2d6da;
}

.select2-search-dropdown {
  display: block;
  padding: 4px;
  transition: all 0.4s ease-in-out;
}

.select2-search--dropdown input:focus-visible {
  outline: none !important;
  border: 1px solid var(--mc-color) !important;
  box-shadow: 0 0 0 0.05rem var(--mc-color);
  transition: border, box-shadow 0.3s ease-in-out;
}

.select2-results__option--selectable{
  overflow-wrap: break-word;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable svg, .select2-container--default .select2-results__option--selected svg{
  fill: white;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: var(--mc-color);
  color: white;
}

label{
  font-weight: bold !important;
}

.quill-error-outline{
  border: 2px solid red;
  border-radius: 0.5rem;
}

.height-correct{height: 40.19px !important;}