{% load home_tags %}
{% load tz %}
<div class="container-fluid pt-1 px-sm-4 px-3 pb-3">
	<div class="row">
		<div class="col-12 px-0 px-md-2">
			<div class="card px-0 px-lg-2 pt-md-4 pt-3" style="background-color: #fffffff2;">
				<div class="card-body mt-sm-2 p-0">
					
					<div class="row mx-3 px-lg-4 px-md-3 px-sm-2">
						<div class="col ps-0 text-start" style="user-select: none;">
							{% if plan_details.company == 'mcl' %}
							<style>
								:root {
									--mc-color: #946037;
									--mc-selection: #ad7e5a;
									--mc-shadow-color: #94603780;
									--mc-calendar-today: #94603780;
									--critical-color: #94603769;
									--mc-hover-color: #94603759;
								}
							</style>
							<script>$('meta[name="theme-color"]').attr('content', '#946037')</script>
							<img alt="Morrocel c.a RIF:J-06000377-6" width="110%" src="{{ ASSETS_ROOT }}/img/logo_mcl.svg" />
							{% else %}
							<img alt="Curex c.a RIF:J-00074598-6" width="110%" src="{{ ASSETS_ROOT }}/img/logo_crx.svg" />
							{% endif %}
						</div>
						<div class="d-md-block d-none col-5 col-md-6 col-xxl-7 px-3 px-xxl-4 text-align-center text-center text-wrap-balance">
							
							{% if plan_details.disincorporated and perms.home.disincorporate_plan %}
							<h4 class="font-weight-bolder mb-0 text-danger">Desincorporado</h4>
							{% endif %}
							<h4 class="font-weight-bolder mb-0 text-primary">{{ plan_details.product }}</h4>
						</div>
						<div class="col-md col-4">
							<div class="row justify-content-end font-weight-bolder  text-end lh-1 text-xxs">
								F-ASC-L58
							</div>
							<div class="row justify-content-end font-weight-bolder text-end lh-1 text-xxs">
								REV-06
							</div>
							<div class="row justify-content-end font-weight-bolder text-end lh-1 text-xxs">
								01/FEB/2021
							</div>
							<!------------------------------------------------------------------>
							<div class="row justify-content-end font-weight-bolder text-end lh-1 text-xxs text-black mt-2">
								PC-ASC-{{ plan_details.pc }}
							</div>
							<div class="row justify-content-end font-weight-bolder text-end lh-1 text-xxs text-black">
								REV-PC-{{ plan_details.revission|stringformat:"02d" }} <!--ZEROFILL-->
							</div>
							<div class="row justify-content-end font-weight-bolder text-end lh-1 text-xxs text-uppercase text-black">
								{{ plan_details.rev_date|date:"d/b/Y" }}
							</div>
						</div>
						<h6 class="p-0 mb-n2 mt-2 text-primary d-block d-md-none font-size-large" style="font-weight: 900; line-height: 1;">{{ plan_details.product }}</h6>
						<div class="col-md-8 col-12 ps-0 pb-0 pt-3 d-flex flex-wrap align-content-end" style="margin-left: -1.3px;">
							<h6 class="font-weight-normal mb-1 font-size-large" style="line-height: 1;">
								Cliente:<a class="font-weight-bolder" href="/plans/?client={{ plan_details.client.id }}">{{ plan_details.client }}</a>
							</h6>
						</div>
						<div class="col-md-4 col-12 pt-md-3 px-0 text-md-end text-xs justify-content-right">
							<div class="font-weight-bold text-xs">Código GP: <x class="font-monospace">{{ plan_details.gp_code }}</x></div>
							<div class="font-weight-bold text-xs">Código: <x class="font-monospace">{{ plan_details.code }}</x></div>
						</div>
					</div>

					<div class="card print-border mx-md-3 mx-1 mt-4 mb-5 shadow">
						<div class="card-header p-0 mt-n3 position-relative mx-3 z-index-2">
							<div class="bg-primary shadow-primary border-radius-lg py-2">
								<h5 class="text-center m-0 text-white font-weight-bolder">Estructura</h5>
							</div>
						</div>
						<div class="card-body mt-n4 border-radius-lg px-lg-3 px-sm-2 px-1 pb-2">
							<div class="table-responsive p-0">
								<table class="table align-items-center text-align-center mb-0">
									<thead class="align-items-center">
										<tr>
											<th>Material</th>
											<th class="text-center px-2">Peso <abbr class="d-none d-md-inline"
													title="Gramaje / Gramos por metro cuadrado">(g/m²)</abbr>
											</th>
											<th class="text-center px-2">Espesor <abbr class="d-none d-md-inline" title="Micra">(μ)</abbr>
											</th>
											<th class="text-end">Proveedor</th>
										</tr>
									</thead>
									<tbody style="overflow: hidden;">

										{% for structure in structure_list.all %}
										<tr>
											<td>
												<div class="col">
													<div class="row ">
														<h6 class="mt-n1 mb-0 lh-1">{{ structure.material_type.name }}
														</h6>
													</div>
													<div class="row mb-n1 text-wrap-pretty">
														<p class="text-xs font-weight-bolder m-0 ">
															{% for material in structure.material.all %}
															{% if not structure.material_type.name == material.name %}
															<abbr class="text-nowrap" title="{{ material.material_type }} de {{ material.provider }}"
																style="cursor: help">
																{{ material.name }}.&emsp13;
															</abbr>
															{% if not forloop.last %}
															<wbr>
																{% endif %}
															{% endif %}
															{% endfor %}
														</p>
													</div>
												</div>
											</td>
											<td class="st-weight-row text-center" value="{{ structure.weight|swap_comma }}">
												{{ structure.weight|truncate }}
											</td>
											<td class="st-thickn-row text-center" value="{{ structure.thickness|swap_comma }}">
												{{ structure.thickness|truncate }}
											</td>
											<td class="text-end text-wrap-pretty lh-sm" style="font-size: 14px;">
												{% for provider in structure.material.all %}
												{% ifchanged %}
												{% if perms.home.view_material %}
												<a class="mb-n3" href="/materials?provider={{ provider.provider.id }}">
													{{ provider.provider }}
												</a>
												{% else %}
												{{ provider.provider }}
												{% endif %}
												{% if not forloop.last %}
												/
												{% endif %}
												{% endifchanged %}
												{% endfor %}
											</td>
										</tr>
										{% endfor %}
										<tr>
											<td>
												<h5 class="font-weight-bold mb-0">Total</h5>
											</td>
											<td class="text-center">
												<h5 class="font-weight-bold mb-0"><abbr title="Peso total">{{ plan_details.weight|truncate }}</abbr></h5>
											</td>
											<td class="text-center">
												<h5 class="font-weight-bold mb-0"><abbr title="Espesor total">{{ plan_details.thickness|truncate }}</abbr></h5>
											</td>
										</tr>
									</tbody>

								</table>
							</div>
						</div>
					</div>
					<!------------------------------------------------------------------------------------------------------------------>
					<div class="card print-border mx-md-3 mx-1 mt-4 mb-23 shadow">
						<div class="card-header p-0 mt-n3 position-relative mx-3 z-index-2">
							<div class="bg-primary shadow-primary border-radius-lg py-2">
								<h5 class="text-center m-0 text-white font-weight-bolder">Ensayos Realizados</h5>
							</div>
						</div>
						<div class="card-body mt-n4 border-radius-lg px-lg-3 px-sm-2 px-1 pb-2">
							<div class="table-responsive p-0">
								<table class="table align-items-center text-align-center mb-0">
									<thead class="align-items-center">
										<tr>
											<th class="flex-shrink px-2" style="width: 1% !important;">#</th>
											<th class="px-2">Tipo de Ensayo</th>
											<th class="text-center px-2">Método de Ensayo</th>
											<th class="text-center px-2">Unidad</th>
											<th class="text-center px-2">Especificación</th>
										</tr>
									</thead>
									<tbody>
										{% for test in test_list.all %}
										<tr class="{% if test.critic %} critical {% endif %}">
											<td class="flex-shrink">{{ forloop.counter }}</td>

											<td>
												{% if test.essay.name == 'Aplicación de Tintas' %}
												{{ test.essay.name }}{% if ink_c > 1 %} - {{ ink_c }} Aplicaciones{% endif %}
												{% elif test.essay.name == 'Aplicación de Adhesivo' %}
												{{ test.essay.name }}{% if adh_c > 1 %} - {{ adh_c }} Aplicaciones{% endif %}
												{% elif test.essay.name == 'Aplicación de Resina' %}
												{{ test.essay.name }}{% if res_c > 1 %} - {{ res_c }} Aplicaciones{% endif %}
												{% elif test.essay.name == 'Aplicación de Silicona' %}
												{{ test.essay.name }}{% if sil_c > 1 %} - {{ sil_c }} Aplicaciones{% endif %}
												{% elif test.essay.name == 'Aplicación de Laca' %}
												{{ test.essay.name }}{% if lac_c > 1 %} - {{ lac_c }} Aplicaciones{% endif %}
												{% elif test.essay.name == 'Aplicación de Parafina' %}
												{{ test.essay.name }}{% if par_c > 1 %} - {{ par_c }} Aplicaciones{% endif %}
												{% elif test.essay.name == 'Aplicación de Barniz' %}
												{{ test.essay.name }}{% if bar_c > 1 %} - {{ bar_c }} Aplicaciones{% endif %}
												{% elif test.essay.name == 'Aplicación de Primer' %}
												{{ test.essay.name }}{% if pri_c > 1 %} - {{ pri_c }} Aplicaciones{% endif %}
												{% elif test.essay.name == 'Aplicación de Cera' %}
												{{ test.essay.name }}{% if cer_c > 1 %} - {{ cer_c }} Aplicaciones{% endif %}
												{% elif test.essay.name == 'Aplicación de Compuesto Delizante' %}
												{{ test.essay.name }}{% if com_c > 1 %} - {{ com_c }} Aplicaciones{% endif %}
												{% elif test.essay.detail %}
												<div class="col">
													<div class="row ">
														<p class="font-weight-bold mt-n1 mb-0 lh-1">{{ test.essay.name }}</p>
													</div>
													<div class="row mb-n1" style="user-select: none">
														<p class="text-xs font-weight-bolder mb-0">{{ test.essay.detail }}</p>
													</div>
												</div>
												{% else %}
												<p class="font-weight-bold mb-0">{{ test.essay.name }}</p>
												{% endif %}
											</td>
											<td class="text-center">ASCA-ME-{{ test.essay.method }}</td>
											<td class="text-center">
												{% if not test.essay.unit == None %}
												<abbr
													title="{{ test.essay.unit.name }}{% if test.essay.unit.description %} - {{ test.essay.unit.description }}{% endif %}">
													{{ test.essay.unit.symbol }}
												</abbr>
												{% endif %}
											</td>
											<td class="text-center font-weight-bold">
												{% if test.spec == '' %}
												{% elif test.essay.method == '003' %}
												<abbr title="Peso total ± 5%">{{ plan_details.weight|truncate }} ± {{ plan_details.weight_avg|truncate }}</abbr>
												{% elif test.essay.method == '004' %}
												<abbr title="Peso total ± 5%">{{ plan_details.thickness|truncate }} ± {{ plan_details.thickness_avg|truncate }}</abbr>
												{% elif test.essay.name == 'Aplicación de Tintas' %}
												{% for ap in ink %}{{ ap|truncate }} {{ test.spec }}{% if not forloop.last %} / {% endif %}{% endfor %}
												{% elif test.essay.name == 'Aplicación de Adhesivo' %}
												{% for ap in adh %}{{ ap|truncate }} {{ test.spec }}{% if not forloop.last %} / {% endif %}{% endfor %}
												{% elif test.essay.name == 'Aplicación de Resina' %}
												{% for ap in res %}{{ ap|truncate }} {{ test.spec }}{% if not forloop.last %} / {% endif %}{% endfor %}
												{% elif test.essay.name == 'Aplicación de Silicona' %}
												{% for ap in sil %}{{ ap|truncate }} {{ test.spec }}{% if not forloop.last %} / {% endif %}{% endfor %}
												{% elif test.essay.name == 'Aplicación de Laca' %}
												{% for ap in lac %}{{ ap|truncate }} {{ test.spec }}{% if not forloop.last %} / {% endif %}{% endfor %}
												{% elif test.essay.name == 'Aplicación de Parafina' %}
												{% for ap in par %}{{ ap|truncate }} {{ test.spec }}{% if not forloop.last %} / {% endif %}{% endfor %}
												{% elif test.essay.name == 'Aplicación de Barniz' %}
												{% for ap in bar %}{{ ap|truncate }} {{ test.spec }}{% if not forloop.last %} / {% endif %}{% endfor %}
												{% elif test.essay.name == 'Aplicación de Primer' %}
												{% for ap in pri %}{{ ap|truncate }} {{ test.spec }}{% if not forloop.last %} / {% endif %}{% endfor %}
												{% elif test.essay.name == 'Aplicación de Cera' %}
												{% for ap in cer %}{{ ap|truncate }} {{ test.spec }}{% if not forloop.last %} / {% endif %}{% endfor %}
												{% elif test.essay.name == 'Aplicación de Compuesto Deslizante' %}
												{% for ap in com %}{{ ap|truncate }} {{ test.spec }}{% if not forloop.last %} / {% endif %}{% endfor %}
												{% else %}
												{{ test.spec }}
												{% endif %}
											</td>
										</tr>
										{% endfor %}
										<tr class="text-center">
											<td colspan="4"></td>
											<td class="critical-indicator font-weight-bold" style="user-select: none">
												<p class="font-weight-bold mb-0 lh-1">Variable Crítica</p>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="col py-md-2">
						<div class="col-12 text-center px-0 pt-2 pb-2 mb-1">
							<h5 class="font-weight-bolder text-primary">Plan de Producción</h5>
						</div>
						<div class="mt-n5 pb-4 mx-2 mx-md-3 px-md-4 px-sm-3 px-2"
							style="white-space: pre-line; overflow-wrap: break-word; text-align: justify;">
							{{ plan_details.continuation|safe }}
						</div>

						<div class="col-12 mt-2">
							<div class="card print-border mx-1 mx-sm-2 mx-md-3">
								<div class="card-header p-0 mt-n3 position-relative mx-3 z-index-2">
									<div class="bg-primary shadow-primary border-radius-lg py-2">
										<h5 class="text-center m-0 text-white font-weight-bolder">
											Condiciones de despacho
										</h5>
									</div>
								</div>
								<div class="card-body mt-n4 border-radius-lg pt-2 px-md-4 px-3 pb-3"
									style="white-space: pre-line; overflow-wrap: break-word; text-align: justify;">
									{{ plan_details.dispatch_conditions|safe }}
								</div>
							</div>
						</div>
						<div class="mb-n2 pt-3 pb-1 mx-2 mx-md-3 px-md-4 px-sm-3 px-2">
							<div class="font-weight-bold" style="overflow-wrap: break-word; font-size: 0.9rem;">
								• Todo lote entregado debe haber sido liberado por el laboratorio y debe llevar su
								respectivo certificado de
								análisis.
							</div>
							<div class="fst-italic" style="overflow-wrap: break-word; font-size: 0.9rem;">
								<x class="font-weight-bold">• Observación:</x> Los métodos de ensayo reflejados en este
								Plan de Calidad son
								elaborados tomando como referencia las Normas Covenin.
							</div>
						</div>
						<div class="d-flex flex-row flex-md-nowrap flex-wrap m-0 mt-4 px-md-3 px-sm-2 px-1 mb-1">
							<div class="col-md-6 col-12 pe-md-2 pt-2 pb-3">
								<div class="card print-border shadow p-3">
									<div class="card-header p-0 mt-n4 mx-1 z-index-2">
										<div class="bg-primary shadow-primary border-radius-lg py-2 px-0 text-center">
											<p class="text-white m-0 font-weight-bold" style="line-height: 1;">Elaborado
											</p>
										</div>
									</div>
									<div class="card-body text-center p-0">
										<p class="font-weight-normal mt-2 mb-n1">{{ plan_details.elaborator }}</p>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-12 ps-md-2 pt-2 ">
								<div class="card print-border shadow p-3">
									<div class="card-header p-0 mt-n4 mx-1 z-index-2">
										<div class="bg-primary shadow-primary border-radius-lg py-2 px-0 text-center">
											<p class="text-white my-0 font-weight-bold" style="line-height: 1;">Revisado
												y Aprobado</p>
										</div>
									</div>
									<div class="card-body text-center p-0">
										{% if plan_details.reviewer == None or plan_details.reviewer == '' %}
										<p class="fst-italic">Pendiente por Aprobación</p>
										{% else %}
										<p class="font-weight-normal mt-2 mb-n1">{{ plan_details.reviewer }}</p>
										{% endif %}
									</div>
								</div>
							</div>
						</div>

						{% if plan_details.observation and perms.home.change_plan %}
						<div class="my-0 py-0 px-5">
							<hr class="my-1 py-0">
						</div>
						<div class="col-12 text-center px-0 pt-1 pb-2 mb-1 pt-2">
							<h6 class="font-weight-bolder text-primary">Cambios</h6>
						</div>
						<div class="text-center mt-n5 mb-1 px-5" style="white-space: pre-line; overflow-wrap: break-word;">
							{{ plan_details.observation }}
						</div>
						{% endif %}
						{% if plan_details.archived and perms.home.view_archive_plan %}
						<div class="my-0 py-0 px-5">
							<hr class="my-1 py-0">
						</div>
						<div class="col-12 text-center px-0 pb-0 pt-2">
							<h6 class="font-weight-bolder">Eliminado por: <b class="text-primary">{{ plan_details.deleted_by }}</b> el <b class="text-primary">{{ plan_details.delete_time }}</b></h6>
						</div>
						<div class="col-12 text-center px-0 pb-2 mb-1 pt-0">
							<h6 class="font-weight-bolder text-primary">Razón</h6>
						</div>
						<div class="text-center mt-n5 mb-1 px-5" style="white-space: pre-line; overflow-wrap: break-word;">
							{{ plan_details.deleted_reason }}
						</div>

						{% endif %}
						{% if plan_details.disincorporated and perms.home.disincorporate_plan %}
						<div class="my-0 py-0 px-5">
							<hr class="my-1 py-0">
						</div>
						<div class="col-12 text-center px-0 pb-0 pt-2">
							<h6 class="font-weight-bolder">Desincorporado por: <b class="text-primary">{{ plan_details.disicomop_by }}</b> el <b class="text-primary">{{ plan_details.disicomop_time }}</b></h6>
						</div>
						<div class="col-12 text-center px-0 pb-2 mb-1 pt-0">
							<h6 class="font-weight-bolder text-primary">Razón</h6>
						</div>
						<div class="text-center mt-n5 mb-1 px-5" style="white-space: pre-line; overflow-wrap: break-word;">
							{{ plan_details.disicomop_reason }}
						</div>

						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>