<!DOCTYPE html>
<html lang="es">
  {% load static %}
  {% load home_tags %}
<head>
  <meta charset="UTF-8">
  <meta name="theme-color" content="{% if plan_details.company == 'mcl' %}#946037{% else %}#fe5000{% endif %}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PC-ASC-{{ plan_details.pc }}. {{ plan_details.client }}. {{ plan_details.product }} - REV-PC-{{ plan_details.revission|stringformat:"02d" }}</title>
  <link id="pagestyle" href="{{ ASSETS_ROOT }}/css/material-dashboard.css" rel="stylesheet" />
  <link id="basepages" href="{{ ASSETS_ROOT }}/css/base.css" rel="stylesheet" />
</head>
<body style="overflow: hidden !important;">
  {% include 'home/plan_details.html' %}
</body>

</html>