{% extends 'layouts/base_table.html' %}

{% block table_header %}
<h5 class="text-white font-weight-bolder text-nowrap pe-3">
  <a class="faded-title" href="{% url 'essays' %}">Ensayos</a> |  Unidades de Medida
</h5>
{% if perms.home.add_unit %}
<div class="ms-auto my-auto text-nowrap">
  <a title="Crear ensayo" href="{% url 'add_unit' %}">
    <i class="material-icons text-white ">data_saver_on</i>
  </a>
</div>
{% endif %}
{% endblock table_header %}

{% block table_scripts %}
<script>
    var address = "{% url 'units' %}";
</script>
{% endblock table_scripts %}
