{% extends 'layouts/base_table.html' %}

{% block table_header %}
  <h5 class="text-white font-weight-bolder text-nowrap pe-3">
    Análisis de Arte
    {% if perms.essays.add_artanalysis %}
    {% endif %}
  </h5>
{% endblock table_header %}

{% block table_filter %}
<!-- Aquí puedes incluir un filtro si lo necesitas -->
{% endblock table_filter %}

{% block table_body %}
    {% include table %}
{% endblock table_body %}

{% block table_paginator %}
<!-- Aquí puedes incluir un paginador si lo necesitas -->
{% endblock table_paginator %}

{% block table_scripts %}
<script>
  // Aquí puedes agregar scripts específicos para la tabla de análisis de arte
</script>
{% endblock table_scripts %}
