{% extends "layouts/base.html" %}
{% load home_tags %}
{% block content %}
<div class="container-fluid pt-1 px-sm-4 px-3 pb-6" >
  <div class="row" id="info-container">
    <div class="col-12 px-0 px-md-2">
      <div class="card px-2 px-lg-3 pt-2 pt-md-3 pb-2 {% if art_request_obj %}sharp-b-l{% endif %}" style="background-color: #f3f3f3;">
        <div class="card-body p-1 py-3 py-md-2 mx-0 mx-md-1 py-xl-3" id="main-data-container">
         
          {% include content %}
          
        </div>
                <!---------------------------------[Parent Pills]--------------------------------->
        
      </div>

      
      {% if art_request_obj %}
        <div class="card-tab" id="card_tab">
          
          <p hrefx="/art_requests/{{ art_request_obj.id }}" class="printable tab text-dark fw-bold {% if tab == 'main' %}tab-active{% endif %}" value="edit_tr" value2="delete_tr">Solicitud de Prueba</p>
        
          <!--Printer-->
          {% if perms.essays.add_printerboot and art_request_obj.print_selector %}
            {% if not art_request_obj.signed_techspecs or request.user|is_asca_staff %}
              <p hrefx="/test_requests_art/{{ art_request_obj.id }}/printer" class="tab fw-bold color-crx" redirect="true">+ <i class="fa fa-print" aria-hidden="true"></i></p>
            {% endif %}
          {% endif %}
          
          {% if printer_boot  and perms.essays.view_printerboot  %}
            {% for boot in printer_boot %}      
            <p hrefx="/test_requests_art/{{ art_request_obj.id }}/printer/{{ boot.id }}/" class="tab fw-bold color-crx {% if tab_p == boot.id %}tab-active{% endif %}">Arranque de Imp. {% if printer_boot|length > 1 %}#{{ forloop.counter }}{% endif %}</p>
            
            {% endfor %}
          {% endif %}
  
          <!--Laminator-->
          {% if perms.essays.add_laminatorboot %}
            {% if not art_request_obj.signed_techspecs or request.user|is_asca_staff %}
              <p hrefx="/test_requests_art/{{ art_request_obj.id }}/laminator/" class="tab fw-bold color-mcl" redirect="true">+ <i class="fas fa-scroll" aria-hidden="true"></i></p>
            {% endif %}
          {% endif %}
  
          {% if lamination_boot and perms.essays.view_laminatorboot %}
            {% for boot in lamination_boot %}
              <p hrefx="{% url 'view_laminator_boot_tr' pk=art_request_obj.id ck=boot.id %}" class="tab fw-bold {% if boot.id == tab_l %}tab-active{% endif %} color-mcl">Arranque de Lam. P-{{ boot.step }}</p>
            {% endfor %}
          {% endif %}
  
          <!--Cutter-->
          {% if perms.essays.add_cutterboot  %}
            {% if not art_request_obj.signed_techspecs or request.user|is_asca_staff %}
              <p hrefx="/test_requests_art/{{ art_request_obj.id }}/cutter/" class="tab fw-bold color-cut" redirect="true">+ <i class="fa fa-scissors" aria-hidden="true"></i></p>
            {% endif %}
          {% endif %}
  
          {% if cutter_boot and perms.essays.view_cutterboot %}
            {% for boot in cutter_boot %}
              <p hrefx="{% url 'view_cutter_boot_tr' pk=art_request_obj.id ck=boot.id %}" class="printable tab fw-bold color-cut {% if boot.id == tab_c %}tab-active{% endif %}" value="edit_cut_{{ forloop.counter0 }}" value2="delete_cut_{{ forloop.counter0 }}">Arranque de Cort. {% if cutter_boot|length > 1 %}#{{ forloop.counter }}{% endif %}</p>
            {% endfor %}
          {% endif %}
          
          <!--Techspecs-->
          {% if printer_boot or lamination_boot or cutter_boot %}
            <p hrefx="/test_requests_art/{{ art_request_obj.id }}/tech_specs" class="printable tab fw-bold color-tec {% if tab == 'tech_specs' %}tab-active{% endif %}" value="edit_ts_{{ spec_extra.id  }}" value2="delete_ts_{{ spec_extra.id  }}">Espec. T. de Pruebas <i class="fas fa-chart-bar" aria-hidden="true"></i></p>
          {% endif %}
  
          <!--Techspecs-->
          
          <p hrefx="/test_requests_art/{{ art_request_obj.id }}/annexes" class="tab fw-bold color-anx {% if tab == 'annex' %}tab-active{% endif %}">Anexos <i class="material-symbols-rounded"  style="font-size:18px; vertical-align: text-bottom;">photo_library</i></p>
          
        </div>
        
        <div class="tab-wrapper">
        </div>
      {% endif %}
        
     

    </div>
  </div>
</div>
<script>
  
$(document).ready(function () {
    /*
    $(window).on('resize', function(){
      var cardTabWidth = $('.card-tab').width();
      $('.tab-wrapper').width(cardTabWidth);
    }).trigger('resize');*/
    var activeTab = $('.tab-active');
    if (activeTab.length) {
        $('.card-tab').animate({
            scrollLeft: activeTab.position().left
        },0);
    }
    $("#card_tab").click(function (event) {
      // Comprueba si el evento ocurrió en el pseudo-elemento ::after
      if (event.target === this) {
        // Desplaza el div hasta el final en el eje x con animación
        $(this).animate({ scrollLeft: this.scrollWidth }, 'slow');
      }
    });
    function checkOverflow() {
      var element = $('.card-tab')[0];
      var overflow = element.scrollWidth > element.clientWidth;
      if (overflow) {
        $('.card-tab').addClass('arrow');
      } else {
        $('.card-tab').removeClass('arrow');
      }
    }

    $(window).on('resize', function () {
      checkOverflow();
    }).trigger('resize');

    $(".tab").click(function () {
      if ($(this).hasClass("tab-active")) {
        return;
      }

      if ($(this).hasClass("printable")) {
        $("#print-btn").removeClass("d-none");
        }else{
          $("#print-btn").addClass("d-none");
          };
      
      if ($(this).attr('redirect')) {
        window.location.href = $(this).attr('hrefx');
      } else {

        this_obj = $(this)
        let data = null;
        var goto = this_obj.attr('hrefx')
        $.ajax({
          url: goto,
          data: data,
          dataType: 'json',
          success: function (data) {

            $(".tab-active").removeClass("tab-active");
            if (this_obj.hasClass("tab")) {
              this_obj.addClass("tab-active");
            }
            history.pushState({}, '', this_obj.attr('hrefx'));
            
            $(".doc-edit").addClass("d-none");
            $("#" + this_obj.attr("value")).removeClass("d-none");
            $("#" + this_obj.attr("value2")).removeClass("d-none");

            $('#main-data-container').html(data.content_html);
            $('main').animate({ scrollTop: 0 }, "fast");
          }
        });
      }
    });
    
});


</script>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
