{% extends "layouts/base.html" %}
{% block content %}
<!-- form_view.html -->
{% if request_obj.company == 'mcl' %}
<style>:root {--mc-color: #946037;--mc-selection: #ad7e5a;--mc-shadow-color: #94603780;--mc-calendar-today: #94603780;--critical-color: #94603769;--mc-hover-color: #94603759;}</style>
<script>$('meta[name="theme-color"]').attr('content', '#946037')</script>
{% endif %}
<link href="{{ ASSETS_ROOT }}/css/plan-form.css" rel="stylesheet" />
<style>
	
</style>
<div class="container-fluid pt-1 px-sm-4 px-3 pb-3">
	<div class="row min-vh-80 h-100">
		<div class="col-12 px-0 px-md-2">
			<div class="card my-4">
				<div class="card-header p-0 position-relative mt-n4 mx-2 mx-md-3 z-index-2" style="user-select: none">
					<div class="bg-primary shadow-primary border-radius-lg ps-3 pt-2 pb-2">
						<div class="mt-2 text-center">
							<h4 class="text-white text-center font-weight-bolder me-3">{% if 'edit' in request.get_full_path %}Editar
								{% endif %}Control de Arranque de Laminación</h5>
						</div>
					</div>
					<div class="card-body px-md-0 px-2 py-2">
						<div class="form-group d-flex input-group input-group-outline">
							<form class="form col-12" method="POST" id="main_form" style="user-select: none">
								{% csrf_token %}
								<div class="row px-1 px-md-3">
									<div class="d-flex flex-wrap justify-content-between pb-1">
										<div class="d-flex flex-column flex-nowrap pt-2 pb-1"><label class="text-primary fw-bold">Solicitud N°</label>
											<p class="ps-1 mb-0 fw-bold">{{ request_obj.number }}</p>
										</div>
										<div class="d-flex flex-column flex-nowrap pt-2 pb-1"><label class="text-primary fw-bold">Cliente</label>
											<p class="ps-1 mb-0 fw-bold">
												{% if request_obj.check_test_client %}
												{{ request_obj.test_client }}
												{% else %}
												{{ request_obj.client }}
												{% endif %}
											</p>
										</div>
										<div class="d-flex flex-column flex-nowrap pt-2 pb-1"><label class="text-primary fw-bold">Producto</label>
											<p class="ps-1 mb-0 fw-bold">{{ request_obj.product }}</p>
										</div>
									</div>
									
									<div class="col-md-4 col-6 pb-2"><label for="printer">Máquina laminadora</label>{{ form.laminator }}</div>
									<div class="col-md-4 col-6 pb-2"><label for="machine_speed">Velocidad de Máquina (m/min)</label>{{ form.machine_speed }}</div>
									<div class="col-md-4 col-6 pb-2" id="datetime_container"><label for="date_time">Fecha y hora</label>{{ form.date_time }}</div>
									<div class="col-md-5 col-12 pb-2"><label for="production_order">Orden de produción</label>
										<input type="text" name="production_order" class="form-control myform-focus" value="{{ request_obj.production_order|default_if_none:'' }}" id="production_order" maxlength="5" required , style="text-transform: uppercase !important; padding-left: 34px !important;">
										<x class="text-dark infield-text" style="margin-top: -31.5px !important;">PR-</x>
									</div>
									<div class="col-md-5 col-12 pb-2"><label for="gp_code">Código GP</label>
										<input type="text" name="gp_code" class="form-control myform-focus" readonly value="PR" id="gp_code">
									</div>
									<div class="col-md-2 col-6 pb-2"><label for="turn">Turno</label>{{ form.turn }}</div>

									<div class="col-12 gap-3 d-flex flex-row flex-wrap align-items-baseline py-2 ">
										<h6 class="fw-bold text-primary ms-1 mb-n3 col-12">Tratamiento corona</h6>
										<div class="d-flex flex-row">
											
											<label class="fw-bold mb-0" style="font-size: large;" id="ct_label_pri" for="crown_treatment_pri">Desbobinador Principal</label>
											<div class="py-0 px-1 form-check me-3">{{ form.crown_treatment_pri }}</div>
										</div>
										<div class="d-flex flex-row">

											<label class="fw-bold mb-0" style="font-size: large;" id="ct_label_sec" for="crown_treatment_sec">Desbobinador Secundario</label>
											<div class="py-0 px-1 form-check">{{ form.crown_treatment_sec }}</div>
										</div>
									</div>
									<!-- Structure -->
									<h6 class="fw-bold text-primary ms-1 mb-0">Estructura (Enumere el orden que los materiales se acoplan)</h6>
									<div class="col-sm-3 col-6 pb-2"><label for="st_1">1</label>{{ form.st_1 }}</div>
									<div class="col-sm-3 col-6 pb-2"><label for="st_2">2</label>{{ form.st_2 }}</div>
									<div class="col-sm-3 col-6 pb-2"><label for="st_3">3</label>{{ form.st_3 }}</div>
									<div class="col-sm-3 col-6 pb-2"><label for="st_4">4</label>{{ form.st_4 }}</div>
									<div class="col-sm-3 col-6 pb-2"><label for="step">Paso</label>{{ form.step }}</div>
									<div class="col-sm-3 col-6 pb-2"><label for="adhesive">Adhesivo</label>{{ form.adhesive }}</div>
									<div class="col-sm-3 col-6 pb-2"><label for="batch">Lote Almacen</label>{{ form.batch }}</div>
									<div class="col-sm-3 col-6 pb-2"><label for="formula">Fórmula</label>{{ form.formula }}</div>
									<!-- formset -->
									{% include 'essays/formsets/laminator_essay.html' %} 
									<h6 class="fw-bold text-primary m-0">Observaciones</h6>
									<br>
									<div class="col-12 pb-3">{{ form.observation }}</div>

									<h6 class="fw-bold text-primary m-0">Envejecimiento</h6>
									<div class="col-6 pb-3"><label for="time">Tiempo (min.)</label>{{ form.time }}</div>
									<div class="col-6 pb-3"><label for="temp">Temperatura (°C)</label>{{ form.temp }}</div>

									<div class="col-sm-6 col-12 pb-3"><label class="fw-bold text-primary" for="quality_analist">Por Aseguramiento de la Calidad</label>{{ form.quality_analist }}</div>
									<div class="col-sm-6 col-12 pb-3"><label class="fw-bold text-primary" for="production_operator">Por Producción</label>{{ form.production_operator }}</div>
								</div>
								<div class="d-flex justify-content-center gap-2">
									<button class="btn btn-primary" type="submit">Guardar</button>
									<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#cancelModal">
										Cancelar
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="cancelModal" tabindex="-1" aria-labelledby="cancelModalLabel"
aria-labelledby="TrueDelete" aria-hidden="true" style="user-select: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color: var(--mc-color) !important;">
        <h5 class="modal-title fw-bold text-white" id="cancelModalLabel">Confirmación de Cancelación</h5>
      </div>
      <div class="modal-body">
        ¿Estás seguro de que quieres cancelar?
      </div>
      <div class="modal-footer">
        <button type="button" class="mb-1 btn btn-secondary" data-bs-dismiss="modal">No</button>
        <button type="button" class="mb-1 btn btn-primary" onClick="window.history.back();">Sí, cancelar</button>
      </div>
    </div>
  </div>
</div>
<script>
	
	const checkbox_pri = $('#crown_treatment_pri');
	const checkbox_sec = $('#crown_treatment_sec');

	{% if not 'edit' in request.get_full_path %}
	if (!checkbox_pri.prop('checked')) {
	   checkbox_pri.prop('indeterminate', true);
	}
	if (!checkbox_sec.prop('checked')) {
		checkbox_sec.prop('indeterminate', true);
	}
	{% endif %}
	
	let p = 0;
  
	$("select[name*='-essay']").each(function () {
	  
	  $('#id_essays-' + p + '-essay').select2({
		allowClear: true,
		placeholder: 'Seleccione...',
		width: '100%',
		selectionCssClass: ':all:',
		dropdownCssClass: ':all:'
	  });
  
	  p++
	});

	$(document).ready(function(){
	    $('#add_more, #add_more_b').click(function () {
			var form_id_x = parseInt($('#id_essays-TOTAL_FORMS').val());
			$('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_id_x));
			$('#id_essays-TOTAL_FORMS').val(parseInt(form_id_x) + 1);
		
			$('#id_essays-' + form_id_x + '-essay').select2({
			  allowClear: true,
			  placeholder: 'Seleccione...',
			  width: '100%',
			  selectionCssClass: ':all:',
			  dropdownCssClass: ':all:'
			});
		
		});
	  
		$('#remove').click(function () {
			var form_id_z = parseInt($('#id_essays-TOTAL_FORMS').val());
			if(form_id_z > form_minlimit){
			  form_id_z = form_id_z - 1
			  $('#form-row-' + form_id_z).remove();
			  $('#id_essays-TOTAL_FORMS').val(parseInt(form_id_z));
			}
		});
	   
		$('#adhesive').select2({
			allowClear: true,
			placeholder: 'Seleccione...	',
			width: '100%',
			selectionCssClass: ':all:',
			dropdownCssClass: ':all:',
			ajax: {
				url: "{% url 'x-materials' %}",
				type: "GET",
				dataType: 'json',
				data: function (params) {
					  var queryParameters = {
						  q: '4',
						  f: params.term
					  }
					  return queryParameters;
				  },
				  processResults: function (data) {
					  return {
						  results: $.map(data, function (item) {
							if (item.name == item.material_type__name){
							  var name = item.provider__name;
							}else{
							  var name = item.name + ' - ' + item.provider__name;
							};
							return {
								text: name,
								id: item.pk
							  }
						  })
					  };
				  }
			  },
			  language: {
				noResults: function () {
				  return "No hay resultados";
				},
				searching: function () {
				  return "Buscando...";
				}
			  }
		});
		
		$('#step').select2({
			minimumResultsForSearch: Infinity,
			allowClear: true,
			placeholder: '0',
			width: '100%',
			selectionCssClass: ':all:',
			dropdownCssClass: ':all:'
		});
		$('#laminator').select2({
			minimumResultsForSearch: Infinity,
			allowClear: true,
			placeholder: 'Seleccione...',
			width: '100%',
			selectionCssClass: ':all:',
			dropdownCssClass: ':all:'
		});
		$('#turn').select2({
			minimumResultsForSearch: Infinity,
			allowClear: true,
			placeholder: '-',
			width: '100%',
			selectionCssClass: ':all:',
			dropdownCssClass: ':all:'
		});
		$('#format').select2({
			allowClear: true,
			placeholder: '0',
			width: '100%',
			selectionCssClass: ':all:',
			dropdownCssClass: ':all:'
		});
		$('#production_operator').select2({
			allowClear: true,
			placeholder: 'Operador de Producción',
			width: '100%',
			selectionCssClass: ':all:',
			dropdownCssClass: ':all:'
		});
		$('#quality_analist').select2({
			allowClear: true,
			placeholder: 'Analista de Calidad',
			width: '100%',
			selectionCssClass: ':all:',
			dropdownCssClass: ':all:'
		});

		$('#main_form').on('submit', function(event) {

			if (checkbox_pri.prop('indeterminate')) {
				event.preventDefault(); // Prevent form submission
				$('#ct_label_pri').addClass('text-danger') // Show an error message
				$('main').animate({ scrollTop: 0 }, "fast");
			}else{
				$('#ct_label_pri').removeClass('text-danger')
			}
			if (checkbox_sec.prop('indeterminate')) {
				event.preventDefault(); // Prevent form submission
				$('#ct_label_sec').addClass('text-danger') // Show an error message
				$('main').animate({ scrollTop: 0 }, "fast");
			}else{
				$('#ct_label_sec').removeClass('text-danger')
			}
		});
	});
	let form_minlimit = parseInt($('#id_essays-TOTAL_FORMS').val());
	
</script>

{% endblock content %}
{% block javascripts %}
<script src="{{ ASSETS_ROOT }}/js/datetime-picker/popper.js"></script>
<script src="{{ ASSETS_ROOT }}/js/datetime-picker/bootstrap.min.js"></script>
<script src="{{ ASSETS_ROOT }}/js/datetime-picker/moment-with-locales.min.js"></script>
<script src="{{ ASSETS_ROOT }}/js/datetime-picker/bootstrap-datetimepicker.min.js"></script>
<script src="{{ ASSETS_ROOT }}/js/datetime-picker/main.js"></script>
{% endblock javascripts %}