{% extends 'layouts/base_table.html' %}

{% block table_header %}
  <h5 class="text-white font-weight-bolder text-nowrap pe-3">
    {% if perms.essays.view_artentryelement %}
      <a class="title-tab text-white {% if tab != 'art_entry' %}faded-title cursor-pointer{% endif %}" 
         redirect="{% url 'art_entry_element' %}" value="art_entry">Elementos de Entrada de Arte</a>
    {% endif %}
    | <a class="title-tab text-white {% if tab != 'main' %}faded-title cursor-pointer{% endif %}" value="main">Solicitudes de Arte</a>
    {% if perms.essays.add_artentryelement and tab == 'art_entry' %}
      | <a id="add_ee" title="Crear Elemento de Entrada de Arte" href="{% url 'add_art_entry_element' %}">
        <i class="material-symbols-rounded text-white" style="font-size: 21px !important;">new_window</i>
      </a>
    {% endif %}
  </h5>
  <div class="ms-auto my-auto text-nowrap">
    <a title="Filtrar" id="toggle-s" class="cursor-pointer" {% if tab != 'art_entry' %} style="display: none;" {% endif %}>
      <i class="material-icons text-white ">filter_list</i>
    </a>
    <a title="Limpiar filtros" class="cursor-pointer search-bar-toggle" id="clear-s">
      <i class="material-icons text-white ">clear</i>
    </a>
  </div>
{% endblock table_header %}

{% block table_filter %}
  {% include 'essays/filters/entry_element_art.html' %}
{% endblock table_filter %}

{% block table_paginator %}
  {% include 'essays/paginators/obj.html' %}
{% endblock table_paginator %}

{% block table_scripts %}
<script>
    var address = "{% url 'art_entry_element' %}";
    $(document).on('click', '.title-tab', function() {
      if($(this).attr("value") == $('#tab').attr("value")){
        return
      }
      var current_tab = $(this)
      if($(this).attr("redirect")){
        address = $(this).attr("redirect");
        $('#toggle-s').show()
        $('#add_ee').show()
        $('#filter').find('input, select').each(function() {
          $(this).val(null);
        })
        $("#expand-collapse-search").hide('fast');
        $("#clear-s").hide('fast');
      }else{
        $('#add_ee').hide()
        $('#toggle-s').show()
        address = "{% url 'art_entry_element' %}"
        var params = new URLSearchParams(window.location.search);
        var data = {};
        for (var pair of params.entries()) {
          data[pair[0]] = pair[1];
        }
        $('#filter').find('input, select').each(function() {
          $(this).val(null);
        })
        $("#expand-collapse-search").hide('fast');
        $("#clear-s").hide('fast');
        data['header'] = $(this).attr("value");
      };
      $.ajax({
        url: address,
        data: data,
        dataType: 'json',
        success: function(data) {
          $('#my-table-container').html(data.table_html);
          $('#my-paginator-container').html(data.paginator_html);
        }
      });
    });
</script>
{% endblock table_scripts %}
