{% extends 'layouts/base_table.html' %}

{% block table_header %}
<h5 class="text-white font-weight-bolder text-nowrap pe-3">
  {{ title }}          
</h5>
<div class="ms-auto my-auto text-nowrap">
  {% if perms.essays.add_personal %}
  <a title="Agregar {{ title }}" href="{{ url }}add">
    <i class="material-icons text-white ">person_add_alt</i>
  </a>
  {% endif %}
</div>
{% endblock table_header %}

{% block table_scripts %}
<script>
    var address = "{% url 'personal' set %}";
</script>

{% endblock table_scripts %}