{% load tz %}
{% load home_tags %}

<!--[Content Start]-->
{% if art_request_obj.company == 'mcl' %}
<style>:root {--mc-color: #946037;--mc-selection: #ad7e5a;--mc-shadow-color: #94603780;--mc-calendar-today: #94603780;--critical-color: #94603769;--mc-hover-color: #94603759;}</style>
<script>$('meta[name="theme-color"]').attr('content', '#946037')</script>
{% endif %}
<!--[Head]-->
<div class="px-0 px-md-2 px-xl-3">
{% include 'essays/details/entry_element_art.html' %}
{% include 'essays/details/exit_element.html' %}

{% if art_request_obj %}
  <!---[Test Request Start]-->
  <div class="tabbed-content" id="art-request" {% if entry_first or exit_first %}style="display: none;"{% endif %}>
    <div class="d-flex flex-row flex-wrap justify-content-between">
      <div class="d-flex flex-sm-row flex-column user-select-none">
        <div class="p-1">
          {% if art_request_obj.company == 'mcl' %}
            <img alt="Morrocel c.a RIF:J-06000377-6" width="220rem" src="{{ ASSETS_ROOT }}/img/logo_mcl.svg" />
          {% else %}
            <img alt="Curex c.a RIF:J-00074598-6" width="220rem" src="{{ ASSETS_ROOT }}/img/logo_crx.svg" />
          {% endif %}
        </div>
      </div>
      <div class="d-flex flex-column align-items-end">
        <p class="text-end m-0 mb-n1 fw-bolder text-xxs">
          F-IDAT-07
        </p>
        <p class="text-end m-0 mb-n1 fw-bolder text-xxs">
          REV-04
        </p>
        <p class="text-end m-0 mb-n1 fw-bolder text-xxs text-uppercase">
          01/ABR/2024
        </p>
      </div>
      <h3 class="col-12 text-center mb-1 mt-2 fw-bold text-primary" style="line-height: 1;">Solicitud de Arte
        {% if perms.essays.add_artanalysis %}
          <a class="btn btn-link text-dark px-3 mb-0" href="{% url 'add_art_analysis' pk=art_request_obj.id %}"><i class="material-icons text-sm me-2">add</i>Agregar Análisis</a>
        {% endif %}
      </h3>
    </div>
    <!--[Initial Info]-->
    <div class="d-flex flex-row justify-content-between flex-wrap mt-3 gap-2">
      <div class="d-flex flex-row">Fecha de Solicitud:&thinsp;<abbr title="{{ art_request_obj.date|date:'l - ' }}{{ art_request_obj.date }}" class="fw-bold text-dark-hover">{{ art_request_obj.date|date:"d/m/Y" }}</abbr></div>
      <div class="d-flex flex-row">Número de Solicitud:&thinsp;<x class="fw-bold text-dark">{{ art_request_obj.number }}</x></div>
    </div>
    <hr class="my-2">
    <!--[Product Info]-->
    <div class="d-flex flex-row flex-wrap justify-content-between pb-2 gap-2">
      <div class="d-flex flex-row overflow-scroll hide-bar">
        {% if art_request_obj.check_test_client %}
          Cliente:&thinsp;<x title="Cliente de Prueba" style="cursor:help" class="fw-bold font-italic text-dark">{{ art_request_obj.test_client }}&thinsp;</x>
        {% else %}
          Cliente:&thinsp;<a href="/test_requests_arts?client={{ art_request_obj.client.id }}" class="fw-bold">{{ art_request_obj.client }}</a>
        {% endif %}
      </div>
      <div class="d-flex flex-row">
        Origen:&thinsp;
        <x class="mb-0 text-dark fw-bold ">
          {{ art_request_obj.get_origin_display }}
        </x>
      </div>
      <div class="d-flex flex-row overflow-scroll hide-bar">
        Producto:&thinsp;<x class="fw-bold text-dark">{{ art_request_obj.product }}</x>
      </div>
      <div class="d-flex flex-row overflow-scroll hide-bar">
        Diseño:&thinsp;<x class="fw-bold text-dark">{{ art_request_obj.design }}</x>
      </div>
    </div>
    
    <!--[Structure]-->
    {% if structure_list %}
    <div class="card mx-n1 mx-md-n2 my-3 mt-4">
      <div class="card-header p-0 mt-n4 position-relative mx-2 z-index-2">
        <div class="bg-primary text-center shadow-primary border-radius-lg ps-3 pt-2 pb-2">
          <h5 class="text-white font-weight-bolder m-0">Estructura</h5>
        </div>
      </div>
      <div class="card-body shadow mt-n4 border-radius-lg px-md-3 px-2 pb-2">
        <div class="table-responsive p-0">
          <table class="table align-items-center text-align-center mb-0">
            <thead class="align-items-center">
              <tr>
                <th class="col-3 text-center">Código</th>
                <th class="col-3">Tipo de Material</th>
                <th class="col-4">Descripción / Proveedor</th>
                <th class="col-1 text-center">Gramaje (<abbr title="Gramaje / Gramos por metro cuadrado">g/m²</abbr>)</th>
                <th class="col-1 text-center">Espesor (<abbr title="Micra">μ</abbr>)</th>
              </tr>
            </thead>
            <tbody>
              {% for structure in structure_list %}
              <tr>
                <td>
                  <div>
                    {% if structure.code %}
                     <p class="p-0 m-0 font-weight-bolder text-center">{{ structure.code }}</p>
                    {% endif %}
                  </div>
                </td>
                <td>
                  <div class="d-flex flex-column justify-content-between">
                    {% if structure.test_material_check %}
                      <h6 class="m-0 font-italic"><abbr title="Material de prueba">{{ structure.test_material }}</abbr></h6>
                    {% else %}
                      <h6 class="m-0">{{ structure.material_type.name }}</h6>
                    {% endif %}
                  </div>
                </td>
                <td>
                  <div>
                    <p class="p-0 m-0">{% if structure.description %}{{ structure.description }} / {% endif %}{{ structure.provider }}</p>
                  </div>
                </td>
                <td class="st-weight-row text-center" value="{% if structure.w_counts %}{{ structure.weight|swap_comma }}{% else %}0{% endif %}">
                  {{ structure.weight|truncate|swap_comma }}
                </td>
                <td class="st-thickn-row text-center" value="{% if structure.t_counts %}{{ structure.thickness|swap_comma }}{% else %}0{% endif %}">
                  {{ structure.thickness|truncate|swap_comma }}
                </td>
              </tr>
              {% endfor %}
              <tr>
                <td colspan="3">
                  <h5 class="text-end font-weight-bold mb-0">Total</h5>
                </td>
                <td class="text-center">
                  <h5 class="font-weight-bold mb-0">
                    <abbr class="text-dark-hover" title="Peso total" id="weight-total">
                      <abbr class="cursor-help" title="Si la carga no concluye, contacte a soporte técnico.">
                        <span class="loader"></span>
                      </abbr>
                    </abbr>
                  </h5>
                </td>
                <td class="text-center">
                  <h5 class="font-weight-bold mb-0">
                    <abbr class="text-dark-hover" title="Espesor total" id="thickn-total">
                      <abbr class="cursor-help" title="Si la carga no concluye, contacte a soporte técnico.">
                        <span class="loader"></span>
                      </abbr>
                    </abbr>
                  </h5>
                </td>
              </tr>
            </tbody>
            <script>
              $(document).ready(function(){
                var weight_count = 0
                $('.st-weight-row').each(function(){
                  weight_count += parseFloat($(this).attr('value'))
                })
                $('#weight-total').text(+weight_count.toFixed(2))
                var thickn_count = 0
                $('.st-thickn-row').each(function(){
                  thickn_count += parseFloat($(this).attr('value'))
                })
                $('#thickn-total').text(+thickn_count.toFixed(2))
              })
            </script>
          </table>
        </div>
      </div>
    </div>
    {% endif %}
    <!--[Plan]-->
    <h4 class="text-start text-md-center text-primary fw-bold mb-3">Plan de Producción</h4>
    <div class="d-flex flex-row mt-3">
      <h6 class="text-primary m-0 me-2 fw-bold">Cantidad a Producir:</h6><x class="fw-bold text-dark">{{ art_request_obj.quantity }}{{ art_request_obj.unit|default_if_none:"" }} / Tolerancia: {{ art_request_obj.tolerance }}%</x>
    </div>
    <hr class="mb-3">
    <!--[Print]-->
    {% if art_request_obj.print_selector %}
    <h5 class="text-start text-sm-center text-primary fw-bold mb-2">Proceso de Impresión</h5>
    <!--[Design Info]-->
    <div class="d-flex flex-row flex-wrap justify-content-between gap-3 pb-2">
      {% if art_request_obj.design %}
        <div class="d-flex flex-row overflow-scroll hide-bar me-1">
          Diseño:&thinsp;<x class="fw-bold text-dark">{{ art_request_obj.design }}</x>
        </div>
      {% endif %}
      {% if art_request_obj.art_number %}
        <div class="d-flex flex-row overflow-scroll hide-bar me-1">
          N° de Sol. de Arte:&thinsp;<x class="fw-bold text-dark">{{ art_request_obj.art_number }}</x>
        </div>
      {% endif %}
      {% if art_request_obj.art_date %}
      <div class="d-flex flex-row overflow-scroll hide-bar me-1">
          Fecha de Sol. de Arte:&thinsp;<abbr title="{{ art_request_obj.art_date|date:'l - ' }}{{ art_request_obj.art_date }}" class="fw-bold text-dark-hover">{{ art_request_obj.art_date|date:"d/m/Y" }}</abbr>
        </div>
      {% endif %}
    
      {% if art_request_obj.printer %}
      <div class="d-flex flex-row fw-bold">
        Máquina impresora:&thinsp;<x class="fw-bold text-dark">{{ art_request_obj.printer }}</x>
      </div>
      {% if art_request_obj.colors %}
      <div class="d-flex flex-row">
        Colores:&thinsp;<x class="fw-bold text-dark">{{ art_request_obj.colors }}</x>
      </div>
      {% endif %}
      <div class="d-flex flex-row">
        Ancho del Sustrato:&thinsp;<x class="fw-bold text-dark">{{ art_request_obj.sustrate_width }}mm</x>
      </div>
      {% if art_request_obj.print_width %}
      <div class="d-flex flex-row">
        Ancho útil de Impresión:&thinsp;<x class="fw-bold text-dark">{{ art_request_obj.print_width }}{{ art_request_obj.print_width_unit|default_if_none:'-' }}</x>
      </div>
      {% endif %}
      <div class="d-flex flex-row">
        Ancho de Ejemplar:&thinsp;<x class="fw-bold text-dark">{{ art_request_obj.width_bobbin }}{{ art_request_obj.width_bobbin_unit }}</x>
      </div>
      {% endif %}
      {% if art_request_obj.surface_selector %}
        <div class="d-flex flex-row">
          <x class="fw-bold text-primary">Imprimir en Superficie del Sustrato</x>
          {% if sustrate %}
          :&thinsp;{{ sustrate.material_type }}
          {% endif %}
        </div>
      {% elif art_request_obj.reverse_selector %}
      <div class="d-flex flex-row">
          <x class="fw-bold text-primary">Imprimir en Reverso del Sustrato</x>
          {% if sustrate %}
          :&thinsp;{{ sustrate.material_type }}
          {% endif %}
        </div>
      {% endif %}
      {% if art_request_obj.repetition %}
      <div class="d-flex flex-row fw-bold">
        Repetición:&thinsp;<x class="text-dark">{{ art_request_obj.repetition }}{{ art_request_obj.repetition_unit|default_if_none:"" }}</x>
      </div>
      {% endif %}
      {% if art_request_obj.develop %}
      <div class="d-flex flex-row fw-bold">
        Desarrollo:&thinsp;<x class="text-dark">{{ art_request_obj.develop }}{{ art_request_obj.develop_unit|default_if_none:"" }}</x>
      </div>
      {% endif %}
      {% if art_request_obj.dist_boder_cell_material %}
      <div class="d-flex flex-row fw-bold">
        <abbr title="Distancia entre el borde del Material y el borde de la Fotocelda">
          Distancia Borde de Material/Borde Fotocelda</abbr>:&thinsp;<x class="text-dark">{{ art_request_obj.dist_boder_cell_material }}mm</x>
      </div>
      {% endif %}
      {% if art_request_obj.width_photo %}
      <div class="d-flex flex-row fw-bold">
        Ancho&thinsp;Fotocelda:&thinsp;<x class="text-dark">{{ art_request_obj.width_photo }}{{ art_request_obj.unit_photo|default_if_none:"" }}</x>
      </div>
      {% endif %}
      {% if art_request_obj.lenght_photo %}
      <div class="d-flex flex-row fw-bold">
        Largo&thinsp;Fotocelda:&thinsp;<x class="text-dark">{{ art_request_obj.lenght_photo }}{{ art_request_obj.unit_photo|default_if_none:"" }}</x>
      </div>
      {% endif %}
    </div>
    <hr class="mt-4 mb-3">
    {% endif %}
    <!--[Lamination]-->
    {% if art_request_obj.lamination_process.html %}
    {% if art_request_obj.lamination_process.html != '<p><br></p>' %}
    {% comment %}
    <h5 class="text-start text-md-center text-primary fw-bold m-0">Proceso de Laminación</h5>
    {% endcomment %}
    <div>
      {{ art_request_obj.lamination_process.html|safe }}
    </div>
    <hr class="mt-2">
    {% endif %}
    {% endif %}
    <!--[Cutting Process]-->
    {% if art_request_obj.dist_boder_cell_material or art_request_obj.packaging or art_request_obj.tie_color %}
    <h5 class="text-start text-sm-center text-primary fw-bold pb-2 mb-0" style="page-break-before: auto;">Proceso de Corte/Despacho</h5>
    <div class="d-flex flex-row flex-wrap justify-content-start gap-4 mb-4">
      {% if art_request_obj.dist_boder_cell_material %}
      <div class="d-flex flex-row mb-n3 fw-bold">
        <abbr title="Distancia entre el borde del Material y el borde de la Fotocelda">
          Distancia Borde de Material/Borde Fotocelda</abbr>:&thinsp;<x class="text-dark">{{ art_request_obj.dist_boder_cell_material }}mm</x>
      </div>
      {% endif %}
      {% if art_request_obj.packaging %}
      <div class="d-flex flex-row mb-n3 fw-bold">
          Embalaje:&thinsp;<x class="text-dark">{{ art_request_obj.packaging }}</x>
      </div>
      {% endif %}
      {% if art_request_obj.tie_color %}
      <div class="d-flex flex-row mb-n3 fw-bold">
          Color de Empate:&thinsp;<x class="text-dark">{{ art_request_obj.tie_color }}</x>
      </div>
      {% endif %}
    </div>
    {% endif %}
    <!--[Bobbin, Ream, Winding]-->
    <div class="d-flex flex-row flex-wrap">
      {% if art_request_obj.check_bobbin or art_request_obj.check_ream %}
      <div class="d-flex flex-row flex-wrap gap-sm-5 gap-3 col-12 pb-3 {% if art_request_obj.winding or art_request_obj.winding_description or art_request_obj.photocell_side %}col-sm-6{% endif %}">
        {% if art_request_obj.check_bobbin %}
          <div class="d-flex flex-column flex-grow-1">
            <h6 class="text-primary m-0 text-center fw-bold">Bobinas</h6>
            <div class="d-flex flex-row justify-content-between">
              Ancho:<span class="dotted-separator"></span><x class="fw-bold text-dark">{{ art_request_obj.width_bobbin }}{{ art_request_obj.width_bobbin_unit|default_if_none:"" }}</x>
            </div>
    
            <div class="d-flex flex-row justify-content-between">
              <x><abbr title="Diámetro Exterior">Dia. Ext.:</abbr></x><span class="dotted-separator"></span><x class="fw-bold text-dark">{{ art_request_obj.exterior_dia_bobbin }}{{ art_request_obj.exterior_dia_bobbin_unit }}</x>
            </div>
            <div class="d-flex flex-row justify-content-between">
              <x><abbr title="Diámetro">Dia.</abbr>de Core:</x><span class="dotted-separator"></span><x class="fw-bold text-dark-hover"><abbr title="{{ art_request_obj.core_dia_bobbin }} Pulgadas">{{ art_request_obj.core_dia_bobbin }}"</abbr></x>
            </div>
          </div>
        {% endif %}
        {% if art_request_obj.check_ream %}
        {% if art_request_obj.width_ream or art_request_obj.lenght_ream or art_request_obj.weight_ream %}
          <div class="d-flex flex-column flex-grow-1">
            <h6 class="text-primary m-0 text-center fw-bold">Resmas</h6>
            {% if art_request_obj.width_ream %}
            <div class="d-flex flex-row justify-content-between">
              Ancho:<span class="dotted-separator"></span><x class="fw-bold text-dark">{{ art_request_obj.width_ream }}</x>
            </div>
            {% endif %}
            {% if art_request_obj.lenght_ream %}
            <div class="d-flex flex-row justify-content-between">
              Largo:<span class="dotted-separator"></span><x class="fw-bold text-dark">{{ art_request_obj.lenght_ream }}</x>
            </div>
            {% endif %}
            {% if art_request_obj.weight_ream %}
            <div class="d-flex flex-row justify-content-between">
              Peso:<span class="dotted-separator"></span><x class="fw-bold text-dark">{{ art_request_obj.weight_ream }}</x>
            </div>
            {% endif %}
          </div>
        {% endif %}
        {% endif %}
    
      </div>
      {% endif %}
      <!--[winding]-->
      {% if art_request_obj.check_bobbin %}
      <div class="col-12 col-sm-6 {% if art_request_obj.check_bobbin or art_request_obj.check_ream %}ps-sm-5{% endif %}">
        {% include 'essays/icons/render.html' with title="Embobinado al Cliente" description=art_request_obj.winding_description winding=art_request_obj.winding photocell=art_request_obj.photocell_side photocell_dsp=art_request_obj.get_photocell_side_display set=art_request_obj.company %}
      </div>
      {% endif %}
    </div>
    <hr>
    <!--[Observation]-->
    {% if art_request_obj.observation.html %}
    {% if art_request_obj.observation.html != '<p><br></p>' %}
    <h5 class="text-start text-md-center text-primary fw-bold m-0">Observaciones</h5>
    <div>{{ art_request_obj.observation.html|safe }}</div>
    <hr class="mt-2">
    {% endif %}
    {% endif %}
    
    <!--[Personal]-->
    <div class="d-flex flex-row flex-wrap justify-content-between gap-3">
      {% if art_request_obj.applicant %}
      <div class="d-flex flex-column">
        <h6 class="m-0 text-primary fw-bold">Solicitante:</h6>
        <p class="m-0 fw-bold">{{ art_request_obj.applicant }}</p>
      </div>
      {% endif %}
      <div class="d-flex flex-column">
        <h6 class="m-0 text-primary fw-bold">Realizado por:</h6>
        <p class="m-0 fw-bold">{{ art_request_obj.elaborator }}</p>
      </div>
      <div class="d-flex flex-column">
        <h6 class="m-0 text-primary fw-bold">Revisado por:</h6>
        <p class="m-0 fw-bold {% if art_request_obj.reviewer %}">{{ art_request_obj.reviewer }}{% else %}fst-italic">Pendiente por Revisión{% endif %}</p>
      </div>
    </div>
    <hr>
    <!--[Checks]-->
    <div class="d-flex flex-row flex-wrap me-1">
      Departamentos:&ensp;
      {% if art_request_obj.pre_print %}<x class="mb-0 fw-bold text-primary">Pre-Prensa</x>&thinsp;/&thinsp;{% endif %}
      {% if art_request_obj.colorimetry %}<x class="mb-0 fw-bold text-primary">Colorimetría</x>&thinsp;/&thinsp;{% endif %}
      {% if art_request_obj.plan_crx %}<x class="mb-0 fw-bold text-primary">Producción Curex</x>&thinsp;/&thinsp;{% endif %}
      {% if art_request_obj.plan_mcl %}<x class="mb-0 fw-bold text-primary">Producción Morrocel</x>&thinsp;/&thinsp;{% endif %}
      {% if art_request_obj.logistics %}<x class="mb-0 fw-bold text-primary">Planificación y Logística</x>&thinsp;/&thinsp;{% endif %}
      {% if art_request_obj.quality %}<x class="mb-0 fw-bold text-primary">ASCA</x>&thinsp;/&thinsp;{% endif %}
    </div>
  </div>
  <!--[Test Request end]-->
{% endif %}  

<!--[Delete info]-->
{% if art_request_obj.deleted and perms.essays.view_deleted_testrequest %}
  <div class="my-0 py-0 px-5">
    <hr class="my-1 py-0">
  </div>
  <div class="col-12 text-center px-0 pb-0 pt-2">
    <h6 class="font-weight-bolder">Eliminado por: <b class="text-primary">{{ art_request_obj.deleted_by }}</b> el <b class="text-primary">{{ art_request_obj.deleted_time }}</b></h6>
  </div>
  <div class="col-12 text-center px-0 pb-2 mb-1 pt-0">
    <h6 class="font-weight-bolder text-primary">Razón</h6>
  </div>
  <div class="text-center mt-n5 mb-1 px-5" style="white-space: pre-line; overflow-wrap: break-word;">
    {{ art_request_obj.deleted_reason }}
  </div>
{% endif %}
<!--[Content END]-->
</div>
{% if perms.essays.view_entryelement %}
<div class="card-body p-1 md-2 mx-0 mx-md-2 px-1">
  <hr class="no-print">
  {% include 'essays/details/parents/parent-pill.html' %}
</div>
{% endif %}